@import "bootstrap/bootstrap.less";
@import "fontawesome/font-awesome.less";

.bg {
    border-bottom: 1px solid red;
}

@font-face {
font-family: 'TitilliumText22L-Thin';
font-style: normal;
font-weight: normal;
src: url('../../fonts/TitilliumText22L001.woff') format('woff');
}


@font-face {
font-family: 'TitilliumText22L-Light';
font-style: normal;
font-weight: normal;
src: url('../../fonts/TitilliumText22L002.woff') format('woff');
}


@font-face {
font-family: 'TitilliumText22L-Regular';
font-style: normal;
font-weight: normal;
src: url('../../fonts/TitilliumText22L003.woff') format('woff');
}


@font-face {
font-family: 'TitilliumText22L-Medium';
font-style: normal;
font-weight: normal;
src: url('../../fonts/TitilliumText22L004.woff') format('woff');
}


@font-face {
font-family: 'TitilliumText22L-Bold';
font-style: normal;
font-weight: normal;
src: url('../../fonts/TitilliumText22L005.woff') format('woff');
}


@font-face {
font-family: 'TitilliumText22L-XBold';
font-style: normal;
font-weight: normal;
src: url('../../fonts/TitilliumText22L006.woff') format('woff');
}

ol, ul {
  list-style: none;
}

a {
    text-decoration: none;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

#footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	/* Set the fixed height of the footer here */
	height: 60px;

    .footer-margin {
        border-top: 2px solid #ff0000 !important;
    }

    .footer-menu{

        display: inline-block;
        a {
            text-decoration: none;
            color: #000000;
        }
        a:first-child {
            padding-left: 1em;
        }

        a:nth-child(n+2):before {
            content: "|";
            padding: 0 1em;
            color: #ff0000;
        }

    }

	p {
		margin: 20px 0;
	}


    .footer-logo {
        float: left;
        height: 52px;
        width: 63px;
        margin-top: 5px;
    }

}

body {
  padding-top: 70px;
  padding-bottom: 30px;
  margin-bottom: 60px;
  font-family:'TitilliumText22L-Regular';
  font-weight:normal;
  color: #676767;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}


/**
 * Nav Styles
 */

#menu-main-menu {
    width: 100% !important;
}

.social-links {
    list-style: none;

    li {
        height: 32px;
        width: 32px;
    }
}

#logo {
    margin-top: -50px;
    max-width: 1140px;
    margin-left: -50px;
}

.palfest-nav {
    border-bottom: 2px solid #ff0000;

    ul {
      li {

      }
    }

}

.navbar-collapse {
  padding-left: 0px !important;
}

.nav>li>a:focus {
    text-decoration: none;
    background-color: none;
}

 .nav>li>a:hover,.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
    text-decoration: none;
    background-color: #DA0404;
    color: #fff;
 }



ul.nav li.dropdown:hover ul.dropdown-menu, .open>.dropdown-menu {
    display: block;
    background-color: #ff0000;
    color: #fff;
    margin-left: -1px;
}

.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
    background-color: #ff0000;
    color: #fff;
}

.dropdown-menu>li>a, .dropdown-menu>li>a {
    background-color: #ff0000;
    color: #fff;
}

.navbar-toggle .icon-bar {
    background-color: #ff0000;
}

.navbar-inverse .navbar-toggle {
    border-color: #ff0000;
}

.navbar-toggle {
    background-color: transparent;
    border: 1px solid #ff0000;
}

.navbar .nav > li > .dropdown-menu:before,
.navbar .nav > li > .dropdown-menu:after {
    display:none;
}

.navbar-collapse  .navbar-nav > .dropdown > a .caret {
    display: none;
}

.navbar-nav>li>a {
    color: #676767;
    border-right: 1px solid #FFFFFF;
}

.navbar-nav>li>a:hover, .dropdown > a:hover {
  background-color: #ff0000;
}

.dropdown-menu {
    margin-right:-1000px;
}

.dropdown-menu > li {
    display: inline-block;
}


.active, .current-page-ancestor, .current-menu-ancestor, .current-menu-parent {
    background-color: #ff0000;

    a {
        color: white !important;
    }

}


.dropdown-menu>.active>a, .dropdown-menu>.active>a:focus, .dropdown-menu>.active>a:hover {
    background: none !important;
}


/* Translation */

.arabic-lang {
    img {
        width: 45px;
    }
}

/* Social */

.twitter {
    background: url('../../images/social-icons20x20.png') no-repeat -47px -30px;
    width: 21px;
    height: 21px;

    &:hover {
        background: url('../../images/social-icons20x20.png') no-repeat -222px -30px;
        width: 21px;
        height: 21px;
        -webkit-transition:all 0.2s ease 0s;
        -moz-transition:all 0.2s ease 0s;
        -ms-transition:all 0.2s ease 0s;
        -o-transition:all 0.2s ease 0s;
        transition:all 0.2s ease 0s;
    }
}

.facebook {
    background: url('../../images/social-icons20x20.png') no-repeat -47px -143px;
    width: 20px;
    height: 20px;

    &:hover {
        background: url('../../images/social-icons20x20.png') no-repeat -207px -143px;
        width: 20px;
        height: 20px;
        -webkit-transition:all 0.2s ease 0s;
        -moz-transition:all 0.2s ease 0s;
        -ms-transition:all 0.2s ease 0s;
        -o-transition:all 0.2s ease 0s;
        transition:all 0.2s ease 0s;
    }
}

.youtube {
    background: url('../../images/social-icons20x20.png') no-repeat -47px -249px;
    width: 20px;
    height: 20px;
}


/****
social accordion
*****/

.list-group-submenu {
  margin-left:20px;
}

.list-group-item-success, .list-group-item-success:hover {
    background: #ff0000 !important;
}


a.list-group-item-success {
color: #FFFFFF !important;

}

.list-group {
    a {
        i {
            font-size: 20px;
        }
    }
}



.mission-container {
  background-size: cover;
  background-image: url(../../images/about-mission.png);
  min-height: 950px;
}


.showAll {
  a {
    text-decoration: none;
    color: #000000;
  }
}

.alphaList {

  border-bottom: 2px solid #C7C7C7;
  margin-bottom: 15px;
  padding-bottom: 15px;
  .active-letter, a:hover {
    color: #FFFFFF;
    background-color: #FF0000;
  }

  a {
    color: #FF0000;
    text-decoration: none;
    padding: 5px;
    margin-right: 15px;
  }

}

.selectedLetter {
  .selected-letter {
    color: #C7C7C7;
    font-size: 40px;
  }
}

.innerTitle {
  .pal-name {
    color: #ff0000;
    margin-top: 3px;
    line-height: 15px;
    padding: 10px 0px;
  }
}

.img-responsive {
    margin: 0 auto;
}

.palfestivalian-header {
  margin-bottom: 40px;
}

.programme-title {
  p {
    span {
      font-size: 4em;
    }
  }
}



.programme {

  .programme-day {
    margin-bottom: 15px;
  }

  .program-block {
    display: block;
    position: relative;
    .pro-date, .pro-location, .pro-time, .pro-venue, .pro-evening {
      position: absolute;
      top: 7px;
      left: 50px;
    }

    .pro-date {
      top: 3px !important;
      left: 30px !important;
    }
  }


  text-align: center;

  .programme-date, .programme-location, .programme-time, .programme-venue, .programme-panel, .programme-video, .programme-evening, .programme-honouring, .programme-reading, .programme-music, .programme-performance {
      width: 35px;
      height: 35px;
    }

    .programme-panel, .programme-video, .programme-honouring, .programme-reading, .programme-music, .programme-performance {
      position: absolute !important;
    }

    .pro-panel, .pro-video, .pro-honouring, .pro-reading, .pro-music, .pro-performance {
      display: block;
      margin-left: 43px;
      margin-bottom: 20px;
      padding-top: 8px;
      text-align: left;
    }

  .programme-item {

    position: relative;
    margin-bottom: 15px;

  }



  .programme-date {
    background: url('../images/date.svg') no-repeat;
  }

  .programme-location {
    background: url('../images/location.svg') no-repeat;
  }

  .programme-time {
    background: url('../images/time.svg') no-repeat;
  }

  .programme-venue {
    background: url('../images/venue.svg') no-repeat;
  }

  .programme-panel {
    background: url('../images/panel.svg') no-repeat;
  }

.programme-video {
    background: url('../images/video.svg') no-repeat;
  }

  .programme-evening {
      background: url('../images/evening.svg') no-repeat;
    }

  .programme-honouring {
      background: url('../images/honouring.svg') no-repeat;
    }

  .programme-reading {
      background: url('../images/reading.svg') no-repeat;
    }

  .programme-music {
      background: url('../images/music.svg') no-repeat;
    }

  .programme-performance {
      background: url('../images/performance.svg') no-repeat;
    }


}


/* --------------------------------

Horizontal Timeline Components

-------------------------------- */
.cd-horizontal-timeline {
  opacity: 0;
  margin: 2em auto;
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  transition: opacity 0.2s;
}
.cd-horizontal-timeline::before {
  /* never visible - this is used in jQuery to check the current MQ */
  content: 'mobile';
  display: none;
}
.cd-horizontal-timeline.loaded {
  /* show the timeline after events position has been set (using JavaScript) */
  opacity: 1;
}
.cd-horizontal-timeline .timeline {
  position: relative;
  height: 100px;
  width: 100%;
  margin: 0 auto;
}
.cd-horizontal-timeline .events-wrapper {
  position: relative;
  height: 100%;
  margin: 0 40px;
  overflow: hidden;
}
.cd-horizontal-timeline .events-wrapper::after, .cd-horizontal-timeline .events-wrapper::before {
  /* these are used to create a shadow effect at the sides of the timeline */
  content: '';
  position: absolute;
  z-index: 2;
  top: 0;
  height: 100%;
  width: 20px;
}
.cd-horizontal-timeline .events-wrapper::before {
  left: 0;
  background-image: -webkit-linear-gradient( left , #f8f8f8, rgba(248, 248, 248, 0));
  background-image: linear-gradient(to right, #f8f8f8, rgba(248, 248, 248, 0));
}
.cd-horizontal-timeline .events-wrapper::after {
  right: 0;
  background-image: -webkit-linear-gradient( right , #f8f8f8, rgba(248, 248, 248, 0));
  background-image: linear-gradient(to left, #f8f8f8, rgba(248, 248, 248, 0));
}
.cd-horizontal-timeline .events {
  /* this is the grey line/timeline */
  position: absolute;
  z-index: 1;
  left: 0;
  top: 49px;
  height: 2px;
  /* width will be set using JavaScript */
  background: #dfdfdf;
  -webkit-transition: -webkit-transform 0.4s;
  -moz-transition: -moz-transform 0.4s;
  transition: transform 0.4s;
}
.cd-horizontal-timeline .filling-line {
  /* this is used to create the green line filling the timeline */
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color:  #ff0000;
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  -ms-transform: scaleX(0);
  -o-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -ms-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  transition: transform 0.3s;
}
.cd-horizontal-timeline .events a {
  position: absolute;
  bottom: 0;
  z-index: 2;
  text-align: center;
  font-size: 1.3rem;
  padding-bottom: 15px;
  color: #383838;
  /* fix bug on Safari - text flickering while timeline translates */
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
}
.cd-horizontal-timeline .events a::after {
  /* this is used to create the event spot */
  content: '';
  position: absolute;
  left: 50%;
  right: auto;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  bottom: -5px;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  border: 2px solid #dfdfdf;
  background-color: #f8f8f8;
  -webkit-transition: background-color 0.3s, border-color 0.3s;
  -moz-transition: background-color 0.3s, border-color 0.3s;
  transition: background-color 0.3s, border-color 0.3s;
}
.no-touch .cd-horizontal-timeline .events a:hover::after {
  background-color:  #ff0000;
  border-color:  #ff0000;
}
.cd-horizontal-timeline .events a.selected {
  pointer-events: none;
}
.cd-horizontal-timeline .events a.selected::after {
  background-color:  #ff0000;
  border-color:  #ff0000;
}
.cd-horizontal-timeline .events a.older-event::after {
  border-color:  #ff0000;
}
@media only screen and (min-width: 1100px) {

  .cd-horizontal-timeline::before {
    /* never visible - this is used in jQuery to check the current MQ */
    content: 'desktop';
  }
}

.cd-timeline-navigation a {
  /* these are the left/right arrows to navigate the timeline */
  position: absolute;
  z-index: 1;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 34px;
  width: 34px;
  border-radius: 50%;
  border: 2px solid #dfdfdf;
  /* replace text with an icon */
  overflow: hidden;
  color: transparent;
  text-indent: 100%;
  white-space: nowrap;
  -webkit-transition: border-color 0.3s;
  -moz-transition: border-color 0.3s;
  transition: border-color 0.3s;
}
.cd-timeline-navigation a::after {
  /* arrow icon */
  content: '';
  position: absolute;
  height: 16px;
  width: 16px;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background: url(../img/cd-arrow.svg) no-repeat 0 0;
}
.cd-timeline-navigation a.prev {
  left: 0;
  -webkit-transform: translateY(-50%) rotate(180deg);
  -moz-transform: translateY(-50%) rotate(180deg);
  -ms-transform: translateY(-50%) rotate(180deg);
  -o-transform: translateY(-50%) rotate(180deg);
  transform: translateY(-50%) rotate(180deg);
}
.cd-timeline-navigation a.next {
  right: 0;
}
.no-touch .cd-timeline-navigation a:hover {
  border-color:  #ff0000;
}
.cd-timeline-navigation a.inactive {
  cursor: not-allowed;
}
.cd-timeline-navigation a.inactive::after {
  background-position: 0 -16px;
}
.no-touch .cd-timeline-navigation a.inactive:hover {
  border-color: #dfdfdf;
}

.cd-horizontal-timeline .events-content {
  position: relative;
  width: 100%;

  overflow: hidden;
  -webkit-transition: height 0.4s;
  -moz-transition: height 0.4s;
  transition: height 0.4s;
}
.cd-horizontal-timeline .events-content li {
  position: absolute;
  z-index: 1;
  width: 100%;
  left: 0;
  top: 0;
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
  padding: 0 5%;
  opacity: 0;
  -webkit-animation-duration: 0.4s;
  -moz-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -webkit-animation-timing-function: ease-in-out;
  -moz-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
}
.cd-horizontal-timeline .events-content li.selected {
  /* visible event content */
  position: relative;
  z-index: 2;
  opacity: 1;
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}
.cd-horizontal-timeline .events-content li.enter-right, .cd-horizontal-timeline .events-content li.leave-right {
  -webkit-animation-name: cd-enter-right;
  -moz-animation-name: cd-enter-right;
  animation-name: cd-enter-right;
}
.cd-horizontal-timeline .events-content li.enter-left, .cd-horizontal-timeline .events-content li.leave-left {
  -webkit-animation-name: cd-enter-left;
  -moz-animation-name: cd-enter-left;
  animation-name: cd-enter-left;
}
.cd-horizontal-timeline .events-content li.leave-right, .cd-horizontal-timeline .events-content li.leave-left {
  -webkit-animation-direction: reverse;
  -moz-animation-direction: reverse;
  animation-direction: reverse;
}
.cd-horizontal-timeline .events-content li > * {
  max-width: 800px;
  margin: 0 auto;
}
.cd-horizontal-timeline .events-content h2 {
  font-weight: bold;
  font-size: 2.6rem;
  font-family: "Playfair Display", serif;
  font-weight: 700;
  line-height: 1.2;
}
.cd-horizontal-timeline .events-content em {
  display: block;
  font-style: italic;
  margin: 10px auto;
}
.cd-horizontal-timeline .events-content em::before {
  content: '- ';
}
.cd-horizontal-timeline .events-content p {
  font-size: 1.4rem;
  color: #959595;
}
.cd-horizontal-timeline .events-content em, .cd-horizontal-timeline .events-content p {
  line-height: 1.6;
}
@media only screen and (min-width: 768px) {
  .cd-horizontal-timeline .events-content h2 {
    font-size: 7rem;
  }
  .cd-horizontal-timeline .events-content em {
    font-size: 15px;
  }
  .cd-horizontal-timeline .events-content p {
    font-size: 1.8rem;
  }
}

@-webkit-keyframes cd-enter-right {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
  }
}
@-moz-keyframes cd-enter-right {
  0% {
    opacity: 0;
    -moz-transform: translateX(100%);
  }
  100% {
    opacity: 1;
    -moz-transform: translateX(0%);
  }
}
@keyframes cd-enter-right {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%);
  }
}
@-webkit-keyframes cd-enter-left {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
  }
}
@-moz-keyframes cd-enter-left {
  0% {
    opacity: 0;
    -moz-transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    -moz-transform: translateX(0%);
  }
}
@keyframes cd-enter-left {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%);
  }
}


.panel {
  margin-bottom: -7px !important;
}

/************
  About
*******/

.image-content {
  text-align: center;
  img {
    margin-left: 2%;
  }
}


.content {
  font-size: 15px;
  padding: 10px;
}




/***********
  Team
***********/

.member-block{
  padding-bottom: 20px;
}

.team-content {
  margin-top: 20px;
  margin-bottom: -30px;
  text-indent: all;

  .member-title {
    font-size: 12px;
    font-variant: small-caps;
    color: #ff6767;
    padding-right: 20px;
  }

  .member-name{
    font-size: 12px;
    font-variant: small-caps;
  }

}



.palfest-recommends {
  color: #FFFFFF;
  background-color: #d6180d;
  padding: 10px;
  font-size: 18px;
  font-weight: bolder;
  margin-bottom: 20px;
}

.book {
  margin-top: 40px;
  margin-bottom: 40px;
}


/******************************
*
*  RoyalSlider Default Skin
*
*    1. Arrows
*    2. Bullets
*    3. Thumbnails
*    4. Tabs
*    5. Fullscreen button
*    6. Play/close video button
*    7. Preloader
*    8. Caption
*
*  Sprite: 'rs-default.png'
*  Feel free to edit anything
*  If you don't some part - just delete it
*
******************************/


.contentSlider, .rsOverflow, .contentSlider, .rsSlide {
    background: #d6180d !important;
    color: #FFFFFF !important;
}

/* Background */
.rsDefault,
.rsDefault .rsOverflow,
.rsDefault .rsSlide,
.rsDefault .rsVideoFrameHolder,
.rsDefault .rsThumbs {
    background: #151515;
    color: #FFF;
}


/***************
*
*  1. Arrows
*
****************/

.rsDefault .rsArrow {
    height: 100%;
    width: 44px;
    position: absolute;
    display: block;
    cursor: pointer;
    z-index: 21;
}
.rsDefault.rsVer .rsArrow {
    width: 100%;
    height: 44px;

}
.rsDefault.rsVer .rsArrowLeft { top: 0; left: 0; }
.rsDefault.rsVer .rsArrowRight { bottom: 0;  left: 0; }

.rsDefault.rsHor .rsArrowLeft { left: 0; top: 0; }
.rsDefault.rsHor .rsArrowRight { right: 0; top:0; }

.rsDefault .rsArrowIcn {
    width: 32px;
    height: 32px;
    top: 50%;
    left: 50%;
    margin-top:-16px;
    margin-left: -16px;

    position: absolute;
    cursor: pointer;
    background: url('rs-default.png');

    background-color: #000;
    background-color: rgba(0,0,0,0.75);
    *background-color: #000;

    border-radius: 2px;
}
.rsDefault .rsArrowIcn:hover {
    background-color: rgba(0,0,0,0.9);
}

.rsDefault.rsHor .rsArrowLeft .rsArrowIcn { background-position: -64px -32px; }
.rsDefault.rsHor .rsArrowRight .rsArrowIcn { background-position: -64px -64px; }

.rsDefault.rsVer .rsArrowLeft .rsArrowIcn { background-position: -96px -32px; }
.rsDefault.rsVer .rsArrowRight .rsArrowIcn { background-position: -96px -64px; }

.rsDefault .rsArrowDisabled .rsArrowIcn { opacity: .2; filter: alpha(opacity=20);  *display: none; }


/***************
*
*  2. Bullets
*
****************/

.rsDefault .rsBullets {
    position: absolute;
    z-index: 35;
    left: 0;
    bottom: 0;
    width: 100%;
    height: auto;
    margin: 0 auto;

    background: #000;
    background: rgba(0,0,0,0.75);

    text-align: center;
    line-height: 8px;
    overflow: hidden;
}
.rsDefault .rsBullet {
    width: 8px;
    height: 8px;
    display: inline-block;
    *display:inline;
    *zoom:1;
    padding: 6px 5px 6px;
}
.rsDefault .rsBullet span {
    display: block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #777;
    background: rgba(255,255,255,0.5);
}
.rsDefault .rsBullet.rsNavSelected span {
    background-color: #FFF;
}





/***************
*
*  3. Thumbnails
*
****************/

.rsDefault .rsThumbsHor {
    width: 100%;
    height: 72px;
}
.rsDefault .rsThumbsVer {
    width: 96px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
}
.rsDefault.rsWithThumbsHor .rsThumbsContainer {
    position: relative;
    height: 100%;
}
.rsDefault.rsWithThumbsVer .rsThumbsContainer {
    position: relative;
    width: 100%;
}
.rsDefault .rsThumb {
    float: left;
    overflow: hidden;
    width: 96px;
    height: 72px;
}
.rsDefault .rsThumb img {
    width: 100%;
    height: 100%;
}
.rsDefault .rsThumb.rsNavSelected {
    background: #02874a;
}
.rsDefault .rsThumb.rsNavSelected img {
    opacity: 0.3;
    filter: alpha(opacity=30);
}
.rsDefault .rsTmb {
    display: block;
}

/* Thumbnails with text */
.rsDefault .rsTmb h5 {
    font-size: 16px;
    margin: 0;
    padding: 0;
    line-height: 20px;
    color: #FFF;
}
.rsDefault .rsTmb span {
    color: #DDD;
    margin: 0;
    padding: 0;
    font-size: 13px;
    line-height: 18px;
}



/* Thumbnails arrow icons */
.rsDefault .rsThumbsArrow {
    height: 100%;
    width: 20px;
    position: absolute;
    display: block;
    cursor: pointer;
    z-index: 21;
    background: #000;
    background: rgba(0,0,0,0.75);
}
.rsDefault .rsThumbsArrow:hover {
    background: rgba(0,0,0,0.9);
}
.rsDefault.rsWithThumbsVer .rsThumbsArrow {
    width: 100%;
    height: 20px;
}
.rsDefault.rsWithThumbsVer .rsThumbsArrowLeft { top: 0; left: 0; }
.rsDefault.rsWithThumbsVer .rsThumbsArrowRight { bottom: 0;  left: 0; }

.rsDefault.rsWithThumbsHor .rsThumbsArrowLeft { left: 0; top: 0; }
.rsDefault.rsWithThumbsHor .rsThumbsArrowRight { right: 0; top:0; }

.rsDefault .rsThumbsArrowIcn {
    width: 16px;
    height: 16px;
    top: 50%;
    left: 50%;
    margin-top:-8px;
    margin-left: -8px;
    position: absolute;
    cursor: pointer;
    background: url('rs-default.png');
}

.rsDefault.rsWithThumbsHor .rsThumbsArrowLeft .rsThumbsArrowIcn { background-position: -128px -32px; }
.rsDefault.rsWithThumbsHor .rsThumbsArrowRight .rsThumbsArrowIcn { background-position: -128px -48px; }

.rsDefault.rsWithThumbsVer .rsThumbsArrowLeft .rsThumbsArrowIcn { background-position: -144px -32px; }
.rsDefault.rsWithThumbsVer .rsThumbsArrowRight .rsThumbsArrowIcn { background-position: -144px -48px; }

.rsDefault .rsThumbsArrowDisabled { display: none !important; }

/* Thumbnails resizing on smaller screens */
@media screen and (min-width: 0px) and (max-width: 800px) {
    .rsDefault .rsThumb {
        width: 59px;
        height: 44px;
    }
    .rsDefault .rsThumbsHor {
        height: 44px;
    }
    .rsDefault .rsThumbsVer {
        width: 59px;
    }
}




/***************
*
*  4. Tabs
*
****************/

.rsDefault .rsTabs {
    width: 100%;
    height: auto;
    margin: 0 auto;
    text-align:center;
    overflow: hidden; padding-top: 12px; position: relative;
}
.rsDefault .rsTab {
    display: inline-block;
    cursor: pointer;
    text-align: center;
    height: auto;
    width: auto;
    color: #333;
    padding: 5px 13px 6px;
    min-width: 72px;
    border: 1px solid #D9D9DD;
    border-right: 1px solid #f5f5f5;
    text-decoration: none;

    background-color: #FFF;
    background-image: -webkit-linear-gradient(top, #fefefe, #f4f4f4);
    background-image:    -moz-linear-gradient(top, #fefefe, #f4f4f4);
    background-image:         linear-gradient(to bottom, #fefefe, #f4f4f4);

    -webkit-box-shadow: inset 1px 0 0 #fff;
    box-shadow: inset 1px 0 0 #fff;

    *display:inline;
    *zoom:1;
}
.rsDefault .rsTab:first-child {
    -webkit-border-top-left-radius: 4px;
    border-top-left-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.rsDefault .rsTab:last-child {
    -webkit-border-top-right-radius: 4px;
    border-top-right-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    border-bottom-right-radius: 4px;

    border-right:  1px solid #cfcfcf;
}
.rsDefault .rsTab:active {
    border: 1px solid #D9D9DD;
    background-color: #f4f4f4;
    box-shadow:  0 1px 4px rgba(0, 0, 0, 0.2) inset;
}
.rsDefault .rsTab.rsNavSelected {
    color: #FFF;
    border: 1px solid #999;
    text-shadow: 1px 1px #838383;
    box-shadow: 0 1px 9px rgba(102, 102, 102, 0.65) inset;
    background: #ACACAC;
    background-image: -webkit-linear-gradient(top, #ACACAC, #BBB);
    background-image: -moz-llinear-gradient(top, #ACACAC, #BBB);
    background-image: linear-gradient(to bottom, #ACACAC, #BBB);
}





/***************
*
*  5. Fullscreen button
*
****************/

.rsDefault .rsFullscreenBtn {
    right: 0;
    top: 0;
    width: 44px;
    height: 44px;
    z-index: 22;
    display: block;
    position: absolute;
    cursor: pointer;

}
.rsDefault .rsFullscreenIcn {
    display: block;
    margin: 6px;
    width: 32px;
    height: 32px;

    background: url('rs-default.png') 0 0;
    background-color: #000;
    background-color: rgba(0,0,0,0.75);
    *background-color: #000;
    border-radius: 2px;

}
.rsDefault .rsFullscreenIcn:hover {
    background-color: rgba(0,0,0,0.9);
}
.rsDefault.rsFullscreen .rsFullscreenIcn {
    background-position: -32px 0;
}





/***************
*
*  6. Play/close video button
*
****************/

.rsDefault .rsPlayBtn {
    -webkit-tap-highlight-color:rgba(0,0,0,0.3);
    width:64px;
    height:64px;
    margin-left:-32px;
    margin-top:-32px;
    cursor: pointer;
}
.rsDefault .rsPlayBtnIcon {
    width:64px;
    display:block;
    height:64px;
    -webkit-border-radius: 4px;
    border-radius: 4px;

    -webkit-transition: .3s;
    -moz-transition: .3s;
    transition: .3s;

    background:url(rs-default.png) no-repeat 0 -32px;
    background-color: #000;
    background-color: rgba(0,0,0,0.75);
    *background-color: #000;
}
.rsDefault .rsPlayBtn:hover .rsPlayBtnIcon {
    background-color: rgba(0,0,0,0.9);
}
.rsDefault .rsBtnCenterer {
    position:absolute;
    left:50%;
    top:50%;
}
.rsDefault .rsCloseVideoBtn {
    right: 0;
    top: 0;
    width: 44px;
    height: 44px;
    z-index: 500;
    position: absolute;
    cursor: pointer;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0);

}
.rsDefault .rsCloseVideoBtn.rsiOSBtn {
    top: -38px;
    right: -6px;
}

.rsDefault .rsCloseVideoIcn {
    margin: 6px;
    width: 32px;
    height: 32px;
    background: url('rs-default.png') -64px 0;
    background-color: #000;
    background-color: rgba(0,0,0,0.75);
    *background-color: #000;
}
.rsDefault .rsCloseVideoIcn:hover {
    background-color: rgba(0,0,0,0.9);
}



/***************
*
*  7. Preloader
*
****************/

.rsDefault .rsPreloader {
    width:20px;
    height:20px;
    background-image:url(../preloaders/preloader-white.gif);

    left:50%;
    top:50%;
    margin-left:-10px;
    margin-top:-10px;
}




/***************
*
*  8. Global caption
*
****************/
.rsDefault .rsGCaption {
    position: absolute;
    float: none;
    bottom: 6px;
    left: 6px;
    text-align: left;

    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.75);

    color: #FFF;
    padding: 2px 8px;
    width: auto;
    font-size: 12px;
    border-radius: 2px;
}


/* v1.0.5 */
/* Core RS CSS file. 95% of time you shouldn't change anything here. */
.royalSlider {
    width: 600px;
    height: 400px;
    position: relative;
    direction: ltr;
}
.royalSlider > * {
    float: left;
}

.rsWebkit3d .rsSlide {
    -webkit-transform: translateZ(0);
}


.rsWebkit3d .rsSlide,
.rsWebkit3d .rsContainer,
.rsWebkit3d .rsThumbs,
.rsWebkit3d .rsPreloader,
.rsWebkit3d img,
.rsWebkit3d .rsOverflow,
.rsWebkit3d .rsBtnCenterer,
.rsWebkit3d .rsAbsoluteEl,
.rsWebkit3d .rsABlock,
.rsWebkit3d .rsLink {
    -webkit-backface-visibility: hidden;
}
.rsFade.rsWebkit3d .rsSlide,
.rsFade.rsWebkit3d img,
.rsFade.rsWebkit3d .rsContainer {
    -webkit-transform: none;
}
.rsOverflow {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    float: left;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
}
.rsVisibleNearbyWrap {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    left: 0;
    top: 0;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
}
.rsVisibleNearbyWrap .rsOverflow {
    position: absolute;
    left: 0;
    top: 0;

}
.rsContainer {
    position: relative;
    width: 100%;
    height: 100%;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
}

.rsArrow,
.rsThumbsArrow {
    cursor: pointer;
}

.rsThumb {
    float: left;
    position: relative;
}


.rsArrow,
.rsNav,
.rsThumbsArrow {
    opacity: 1;
    -webkit-transition:opacity 0.3s linear;
    -moz-transition:opacity 0.3s linear;
    -o-transition:opacity 0.3s linear;
    transition:opacity 0.3s linear;
}
.rsHidden {
    opacity: 0;
    visibility: hidden;
    -webkit-transition:visibility 0s linear 0.3s,opacity 0.3s linear;
    -moz-transition:visibility 0s linear 0.3s,opacity 0.3s linear;
    -o-transition:visibility 0s linear 0.3s,opacity 0.3s linear;
    transition:visibility 0s linear 0.3s,opacity 0.3s linear;
}


.rsGCaption {
    width: 100%;
    float: left;
    text-align: center;
}

/* Fullscreen options, very important ^^ */
.royalSlider.rsFullscreen {
    position: fixed !important;
    height: auto !important;
    width: auto !important;
    margin: 0 !important;
    padding: 0 !important;
    z-index: 2147483647 !important;
    top: 0 !important;
    left: 0 !important;
    bottom: 0 !important;
    right: 0 !important;
}

.royalSlider .rsSlide.rsFakePreloader {
    opacity: 1 !important;
    -webkit-transition: 0s;
    -moz-transition: 0s;
    -o-transition:  0s;
    transition:  0s;
    display: none;
}

.rsSlide {
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    overflow: hidden;

    height: 100%;
    width: 100%;
}

.royalSlider.rsAutoHeight,
.rsAutoHeight .rsSlide {
    height: auto;
}

.rsContent {
    width: 100%;
    height: 100%;
    position: relative;
}

.rsPreloader {
    position:absolute;
    z-index: 0;
}

.rsNav {
    -moz-user-select: -moz-none;
    -webkit-user-select: none;
    user-select: none;
}
.rsNavItem {
    -webkit-tap-highlight-color:rgba(0,0,0,0.25);
}

.rsThumbs {
    cursor: pointer;
    position: relative;
    overflow: hidden;
    float: left;
    z-index: 22;
}
.rsTabs {
    float: left;
    background: none !important;
}
.rsTabs,
.rsThumbs {
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    -webkit-tap-highlight-color:rgba(0,0,0,0);
}


.rsVideoContainer {
    /*left: 0;
    top: 0;
    position: absolute;*/
    /*width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    float: left;*/
    width: auto;
    height: auto;
    line-height: 0;
    position: relative;
}
.rsVideoFrameHolder {
    position: absolute;
    left: 0;
    top: 0;
    background: #141414;
    opacity: 0;
    -webkit-transition: .3s;
}
.rsVideoFrameHolder.rsVideoActive {
    opacity: 1;
}
.rsVideoContainer iframe,
.rsVideoContainer video,
.rsVideoContainer embed,
.rsVideoContainer .rsVideoObj {
    position: absolute;
    z-index: 50;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
/* ios controls over video bug, shifting video */
.rsVideoContainer.rsIOSVideo iframe,
.rsVideoContainer.rsIOSVideo video,
.rsVideoContainer.rsIOSVideo embed {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-right: 44px;
}

.rsABlock {
    left: 0;
    top: 0;
    position: absolute;
    z-index: 15;

}

img.rsImg {
    max-width: none;
}

.grab-cursor {
    cursor:url(grab.png) 8 8, move;
}

.grabbing-cursor{
    cursor:url(grabbing.png) 8 8, move;
}

.rsNoDrag {
    cursor: auto;
}

.rsLink {
    left:0;
    top:0;
    position:absolute;
    width:100%;
    height:100%;
    display:block;
    z-index: 20;
    background: url(blank.gif);
}



/* RoyalSlider CSS */

.contentSlider {
  width: 100%;
}
.contentSlider,
.contentSlider .rsOverflow,
.contentSlider .rsSlide,
.contentSlider .rsVideoFrameHolder,
.contentSlider .rsThumbs {
  background: #eee;
  color: #000;
}

.contentSlider .rsSlide,
.contentSlider .rsOverflow {
  background: #eee;
}
.contentSlider h3 {
  font-size: 24px;
  line-height: 31px;
  margin: 12px 0 8px;
  font-weight: bold;
}
.contentSlider img {
  max-width: 100%;
  height: auto;
  display: block;
}
.content-slider-bg {
  width: 86%;
  padding: 24px 7%;
  background: #eee;
}


.contentSlider {
    min-height: 455px !important;
    max-height: 455px !important;
    p {
        padding: 10px 10px 0px 10px;
    }

    h3 {
        padding: 10px;
    }
}


.hiders {
  text-align: left;
}





.stage {
  list-style: none;
  padding: 0;
}

/*************************************
Build the scene and rotate on hover
**************************************/

.scene {
  width: 232px;
  height: 350px;
  margin: 30px;
  float: left;
  -webkit-perspective: 1000px;
  -moz-perspective: 1000px;
  perspective: 1000px;
}

.movie {
  width: 260px;
  height: 350px;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: translateZ(-130px);
  -moz-transform: translateZ(-130px);
  transform: translateZ(-130px);
  -webkit-transition: -webkit-transform 350ms;
  -moz-transition: -moz-transform 350ms;
  transition: transform 350ms;
}

.movie:hover {
  -webkit-transform: rotateY(-78deg) translateZ(20px);
  -moz-transform: rotateY(-78deg) translateZ(20px);
  transform: rotateY(-78deg) translateZ(20px);
}

/*************************************
Transform and style the two planes
**************************************/

.movie .poster,
.movie .info {
  position: absolute;
  width: 260px;
  height: 350px;
  background-color: #fff;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}

.movie .poster  {
  -webkit-transform: translateZ(130px);
  -moz-transform: translateZ(130px);
  transform: translateZ(130px);
  background-size: cover;
  background-repeat: no-repeat;
}

.movie .info {
  -webkit-transform: rotateY(90deg) translateZ(130px);
  -moz-transform: rotateY(90deg) translateZ(130px);
  transform: rotateY(90deg) translateZ(130px);
  border: 1px solid #B8B5B5;
  font-size: 0.75em;
}

/*************************************
Shadow beneath the 3D object
**************************************/

.csstransforms3d .movie::after {
  content: '';
  width: 260px;
  height: 260px;
  position: absolute;
  bottom: 0;
  box-shadow: 0 30px 50px rgba(0,0,0,0.3);
  -webkit-transform-origin: 100% 100%;
  -moz-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
  -webkit-transform: rotateX(90deg) translateY(130px);
  -moz-transform: rotateX(90deg) translateY(130px);
  transform: rotateX(90deg) translateY(130px);
  -webkit-transition: box-shadow 350ms;
  -moz-transition: box-shadow 350ms;
  transition: box-shadow 350ms;
}

.csstransforms3d .movie:hover::after {
  box-shadow: 20px -5px 50px rgba(0,0,0,0.3);
}

/*************************************
Movie information
**************************************/

.info header {
  color: #FF0000;
  padding: 7px 10px;
  font-weight: bold;
}

.info header h1 {
  margin: 0 0 2px;
  font-size: 1.4em;
  color: #FF0000;
}

.info header .rating {
  border: 1px solid #FFF;
  padding: 0px 3px;
}

.info p {
  padding: 1.2em 1.4em;
  margin: 2px 0 0;
  font-weight: 700;
  color: #666;
  line-height: 1.4em;
  border-top: 10px solid #555;
}

/*************************************
Generate "lighting" using box shadows
**************************************/

.movie .poster,
.movie .info,
.movie .info header {
  -webkit-transition: box-shadow 350ms;
  -moz-transition: box-shadow 350ms;
  transition: box-shadow 350ms;
}

.csstransforms3d .movie .poster {
  box-shadow: inset 0px 0px 40px rgba(255,255,255,0);
}

.csstransforms3d .movie:hover .poster {
  box-shadow: inset 300px 0px 40px rgba(255,255,255,0.8);
}

.csstransforms3d .movie .info,
.csstransforms3d .movie .info header {
  box-shadow: inset -300px 0px 40px rgba(0,0,0,0.5);
}

.csstransforms3d .movie:hover .info,
.csstransforms3d .movie:hover .info header {
  box-shadow: inset 0px 0px 40px rgba(0,0,0,0);
}


/*************************************
Fallback
**************************************/
.no-csstransforms3d .movie .poster,
.no-csstransforms3d .movie .info {
  position: relative;
}

/*************************************
Media Queries
**************************************/
@media screen and (max-width: 60.75em){
  .scene {
    float: none;
    margin: 30px auto 60px;
  }
}
